spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

jwt:
  secret-key: ${JWT_SECRET}

frontEnd-url: ${frontEnd_url}
stripe-api-key: ${stripe_api_key}
stripe-webHook-key: ${stripe_webhook_key}