spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

jwt:
  secret-key: ${JWT_SECRET}

frontEnd-url: ${FRONTEND_URL}
stripe-api-key: ${STRIPE_API_KEY}
stripe-webHook-key: ${STRIPE_WEBHOOK_KEY}

springdoc:
  api-docs:
    enabled: false