spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  secret-key: ${JWT_SECRET}

frontEnd-url: ${FRONTEND_URL}
stripe-api-key: ${STRIPE_API_KEY}
stripe-webHook-key: ${STRIPE_WEBHOOK_KEY}
#this webhook key will only valid for 90 days u have to do again do stripe login to get a new key
